header {
    background-color: aqua;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-image: url('../../assets/images/bg_home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .home_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 100px 0px 0px 0px;

        color: white;

        h1 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 5px;
            span {
                color: #ec6d13;
            }
        }

        h3 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        p {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
            color: #ec6d13; 

            &:hover {
                color: white;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }
}
