.container_footer {
    background-color: #292424;
    margin-top: 60px;

    .Up_footer {
        // design footer above
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px 30px;

        .second {
            p {
                display: flex;
                gap: 15px;
            }
        }

        .third {
            span {
                direction: ltr;
            }
        }
        > div {
            h1 {
                font-size: 25px;
                font-weight: bold;
                color: #f0c775;
                direction: rtl;
                margin-bottom: 20px;
            }

            p,
            a {
                color: #d6cab9;
                font-size: 18px;
                direction: rtl;
                margin-bottom: 15px;
            }

            .quick_reference {
                display: flex;
                flex-direction: column;
                padding: 10px;

                a {
                    &:hover {
                        color: #ec6d13;
                        transition: 0.3s;
                    }
                }
            }

            .phone_email {
                padding: 10px;

                a {
                    display: flex;
                    gap: 10px;

                    &:hover {
                        color: #ec6d13;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    hr {
        margin: 0px 30px;
    }
    .down_footer {
        padding: 50px;
        text-align: center;
        color: #d6cab9;
    }
}
