.container_about {
    height: 120vh;
    background-color: #f7f5f2;

    .title {
        text-align: center;
        margin-top: 50px;
        h1 {
            padding: 5px 5px;
            font-size: 50px;
            font-weight: bold;
            border-bottom: 3px dashed #ec6d13;
            display: inline;
        }

        p {
            color: #a7a6a5;
            font-size: 21px;
            margin-top: 20px;
        }
    }
    .info {
        display: flex;
        gap: 20px;
        margin: 50px 50px 0;

        .item {
            background-color: white;
            border-radius: 15px;
            padding: 30px;
            text-align: center;
            cursor: pointer;

            h5 {
                font-size: 20px;
                font-weight: 900;
                margin-bottom: 20px;
                color: #815331;
            }
            p {
                font-size: 18px;
                color: #8c7d73;
            }
            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }

    // story restaurant
    .story {
        column-count: 2;
        column-gap: 30px;

        margin: 50px 50px 0;
        background-color: #fcfaf8;
        padding: 30px;

        .story_paragraph {
            h2 {
                direction: rtl;
                font-size: 30px;
                font-weight: bold;
            }
            p {
                direction: rtl;
                font-size: 18px;
                line-height: 1.3em;
                color: #8c7d73;
            }
        }

        .story_info {
            background-color: #f4ece6;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 10px;
            min-height: 150px;

            .element {
                text-align: center;
            }

            h2 {
                font-size: 26px;
                font-weight: bold;
                margin: 0;
                color: #e07a3e;
            }
            p {
                font-size: 17px;
                color: #8c7d85;
            }
        }
    }
}

// RWD for Phone
@media (max-width: 768px) {
    .story {
        column-count: 1;
        margin: 20px;
        text-align: center;

        .story_info {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 20px;
        }

        .story_paragraph {
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
